.btn {
  margin: 0 8px;
  padding: 21px 37px;
  border-radius: 35px;
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 700;
  color: #7e8bae;
  background-color: #cbdbe8;
  border: 2px solid #cbdbe8;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1085e4;
  border-color: #1085e4;
}

.btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
}

.btn-primary:hover {
  color: #1085e4;
}
