@import "scroll", "var", "btn";

body,
a {
    box-sizing: border-box;
    color: $text-color;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    transition: $transition;
}

a:hover,
a:focus {
    text-decoration-line: underline;
    outline: none;
    transition: $transition;
}

input:focus,
button:focus {
    outline: none;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.header {
    background-image: url(../img/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    position: relative;

    .container {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    .btn {
        a {
            color: $btn-color;
        }
    }
}

.logo {
    margin: auto 0;
    width: 181px;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    letter-spacing: 2.7px;
    font-weight: 700;
}

.nav > li {
    padding: 0 15px;
    margin: auto;
}

.nav .btn {
    margin-right: 0;
    letter-spacing: 1.3px;
    padding: 21px 50px;
}

.title-page {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 30vh 0 35vh;
    box-sizing: border-box;

    h1 {
        font-size: 5em;
        color: $title-color;
        font-weight: 600;
        letter-spacing: -4px;
        line-height: 88px;
        margin-bottom: 60px;
    }

    .btn-primary {
        margin-left: 0;
        box-sizing: border-box;
    }
}

.title-page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-page-item > div {
    display: flex;
}

.header .img {
    position: absolute;
    background-repeat: no-repeat;

    bottom: 13vh;
    right: 0;

    img {
        max-height: 65vh;
        background-repeat: no-repeat;
    }
}

.sponsor-page {
    background-image: url(../img/sponsor/bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 274px;
    display: inline-flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 100%;
    }

    a {
        margin: auto;
    }

    img {
        margin: 15px;
    }
}

.features-page .container {
    display: grid;
    grid-template-areas: "a c d" "b c d" "b e f" "g e f" "g h h";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4em;
    row-gap: 1em;
    margin: 90px auto 30px;

    svg {
        display: block;
        margin: 62px auto 30px calc(50% - 2em);
        height: 92px;
        width: 103px;
    }

    h1 {
        font-size: 40px;
        letter-spacing: -2px;
        color: $title-color;
    }

    h2 {
        margin-top: 20px;
        font-size: 20px;
        letter-spacing: -1px;
        color: $title-color;
    }

    p {
        line-height: 25px;
    }

    a {
        color: #1085e4;
        font-size: 14px;
        margin: 19px auto 30px;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        color: $title-color;
        white-space: nowrap;

        p {
            display: inline;
            color: #1085e4;
            font-size: 14px;
            margin: 19px auto 30px;
        }
    }
}

span {
    display: block;
    color: $span-color;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.grid {
    max-width: 350px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #f4f4f4;
    text-align: center;

    a {
        display: block;
    }
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
    svg {
        margin-left: calc(50% - 2.5em) !important;
    }
}

.grid-item-2 {
    grid-area: c;
    svg {
        margin-left: calc(50% - 1.5em) !important;
    }
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
    svg {
        margin-left: calc(50% - 3em) !important;
    }
}

.grid-item-6 {
    grid-area: g;
    svg {
        margin-left: calc(50% - 2em) !important;
    }
}

.grid-footer {
    grid-area: h;
}

.subscribe-page {
    background: rgb(10, 32, 144);
    background: linear-gradient(90deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    padding: 90px 0 30px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.subscribe-page-item {
    flex-basis: 45%;
    color: $lite-text-color;

    h1 {
        font-size: 50px;
        letter-spacing: -3.1px;
        margin-bottom: 30px;
    }

    span {
        letter-spacing: 2.3px;
        margin-bottom: 20px;
    }

    p {
        line-height: 23px;
    }

    form {
        position: relative;
        box-sizing: border-box;
    }

    .btn {
        position: absolute;
        right: 1%;
        top: calc(50% - 23px);
        padding: 13px 40px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .btn-primary:hover {
        color: $btn-primary-color;
    }

    input {
        padding: 26px 220px 26px 40px;
        margin: 15px 0;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #3d56ad;
        color: #b1c3ee;
        border-radius: 50px;
        font-size: 14px;
        letter-spacing: -0.5px;
    }

    ::placeholder {
        color: #b1c3ee;
    }
}

.robot {
    max-width: 354px;
    max-height: 417px;
    margin: 55px 0 50px;
}

.scroll-page {
    position: relative;
    margin-top: 1rem;

    .scroll-page-item {
        margin-left: 45%;
        padding: 85px 0 85px;

        img {
            display: block;
            margin-left: -25px;
        }
    }

    h1 {
        margin-top: 7px;
        font-size: 50px;
        letter-spacing: -3.4px;
        line-height: 59px;
        color: $title-color;
    }

    p {
        letter-spacing: -0.3px;
        line-height: 25px;
    }

    dl {
        margin-top: 30px;
        height: 340px;
        overflow: hidden;
        overflow-y: scroll;
    }

    dt {
        font-weight: 700;
        letter-spacing: -0.4px;
    }

    dd {
        margin: 15px 0 55px;
        font-size: 14px;
        letter-spacing: -0.5px;
        line-height: 22px;
    }

    ::-webkit-scrollbar {
        width: 0.3em;
    }
    ::-webkit-scrollbar-track {
        border-radius: 30px;
    }
    ::-webkit-scrollbar-track:hover {
        box-shadow: inset 0 0 0.2rem #7e8bae;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 30px;
    }
    ::-webkit-scrollbar-thumb:hover {
        box-shadow: inset 0 0 0.6rem #0f84f5;
    }

    .bg img {
        position: absolute;
    }

    .bg {
        height: 100%;
        bottom: 0;
        z-index: -5;
        max-width: 47%;
    }

    .pc {
        margin: auto 0;
        z-index: -1;
        bottom: 20%;
        max-height: 55%;
    }
}

.fun-facts-page {
    position: relative;
    background-color: #edf6ff;
    padding: 100px 0 50px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: +3;
    }

    h1 {
        margin: 0px 0 0px;
        color: $title-color;
        font-size: 50px;
        letter-spacing: -3.5px;

        span {
            font-size: 16px;
        }
    }

    h2 {
        font-size: 60px;
        letter-spacing: -2px;
        color: #bacbdc;
        margin: 0.8em auto;

        span {
            font-size: 12px;
            letter-spacing: 2px;
            margin-top: 5px;
        }
    }

    svg {
        z-index: 1;
        position: absolute;
    }
}

.facts-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.square {
    right: 0;
    top: -250px;
    width: 551px;
    height: 772px;
}

.circle {
    margin-left: -100px;
    left: 0;
    top: 100px;
}

.meet-page {
    padding: 75px 0 90px;
    width: 100%;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
    }
    .meet-page-item {
        width: 50%;
    }

    h1 {
        margin-top: 60px;
        font-size: 50px;
        color: $title-color;
        letter-spacing: -3.5px;
    }

    p {
        letter-spacing: -0.5px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    span {
        color: #c4d2dd;
    }

    h4 {
        margin: 0 auto;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: calc(50% - 350px);
        font-size: 300px;
        z-index: -1;
        color: rgba(#000000, 0.028);
        font-weight: 1000;
    }
}

.android {
    margin-left: -15px;
}

.intro-video {
    flex-basis: 50%;

    a {
        height: 100%;
    }

    img {
        display: block;
        align-self: center;
        margin: auto;
        width: 80%;
    }
}

.statistics-page {
    position: relative;
    background: #edf6ff;

    .statistics-page-item {
        display: flex;
        justify-content: space-between;

        padding: 120px 0 140px;

        .picture {
            z-index: 1;
            height: 335px;
            margin: auto 0;
        }
        .icon {
            display: block;
            margin-left: -25px;
        }
    }

    article {
        flex-basis: 48%;
    }

    h1 {
        margin: 7px 0;
        font-size: 50px;
        letter-spacing: -3.4px;
        line-height: 59px;
        color: $title-color;
    }

    p {
        margin: 25px 0;
        letter-spacing: -0.3px;
        line-height: 25px;
    }

    a {
        display: inline-block;
        margin-left: -5px;
    }

    .bg {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 50%;
    }
}

.featutures-2-page {
    position: relative;
    padding: 120px 0 100px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    article {
        flex-basis: 55%;
        z-index: 1;
    }

    .icon {
        display: block;
        margin-left: -25px;
    }

    .picture {
        display: block;
        max-height: 40vh;
        margin: auto 0;
        margin-right: -30px;
    }

    h1 {
        margin: 7px 0;
        font-size: 50px;
        letter-spacing: -3.4px;
        line-height: 59px;
        color: $title-color;
    }

    p {
        margin: 25px 0 50px;
        letter-spacing: -0.3px;
        line-height: 25px;
    }

    a {
        display: inline-block;
        margin-left: -5px;
        padding: 20px 60px;
    }

    .bg {
        position: absolute;
        max-width: 45%;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.screen-preview {
    width: 100%;
    background-color: #edf6ff;
    padding: 100px 0 0;

    h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        color: $title-color;
        letter-spacing: -3px;
    }

    span {
        font-size: 18px;
    }

    .img {
        width: 100%;
        margin: 70px 0 -15px;
        text-align: center;

        img {
            max-width: 75%;
        }
    }
}

.testimonials {
    width: 100%;
    position: relative;
    margin-top: 125px;
    padding: 50px 0;

    h1 {
        color: $lite-text-color;
        font-size: 40px;
        margin-bottom: 60px;
        letter-spacing: -2.6px;

        span {
            color: #85c8ff;
            margin-bottom: 20px;
            font-size: 18px;
            letter-spacing: 3.3px;
        }
    }

    .card-box {
        display: flex;
        justify-content: space-between;
    }

    p {
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 23px;
    }

    .bg {
        position: absolute;
        top: 0px;
        left: 0;
        max-height: 100%;
        max-width: 97%;
        z-index: -1;
    }

    .card {
        flex-basis: 30%;
        background: white;
        margin: 15px 30px;
        padding: 35px;
        padding-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0px 10px 20px -13px rgba(0, 0, 0, 0.1);

        h3 {
            font-size: 22px;
            letter-spacing: -1.5px;
            line-height: 25px;
        }

        span {
            margin: 0;
            letter-spacing: 2.7px;
            color: $span-color;
        }

        img {
            margin: auto 20px auto 0;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.3);
        }
    }
}

.about-clients {
    display: flex;
}

.our-plans {
    width: 100%;

    text-align: center;

    h1 {
        color: $title-color;
        font-size: 40px;
        letter-spacing: -2.5px;
        margin: 60px 0 80px;

        span {
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 20px;
        }
    }

    .card-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 60px 55px 75px;
        position: relative;
        background: #f5faff;
        max-width: 350px;
        box-shadow: 0 10px 20px -13px rgba(0, 0, 0, 0.3);
    }

    .card-primary {
        background: #192b59;
        color: white;
        margin: 0 20px;

        h2 {
            color: white;
            span {
                color: white;
            }
        }

        .grey {
            color: #7b8ab2;
        }
    }

    .grey {
        color: #7b8ab2;
    }

    h2 {
        font-size: 70px;
        font-weight: 700;
        color: $title-color;
        margin: 0;
        margin-bottom: -7px;
        letter-spacing: -3px;

        span {
            color: $title-color;
            display: inline;
            font-size: 20px;
            letter-spacing: -1px;
            text-transform: none;
        }
    }

    h3 {
        span {
            letter-spacing: 2.5px;
            margin: 0;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 13px 0 35px;
        padding: 0;
        height: 100%;
        letter-spacing: -1.29px;
    }

    li {
        list-style-type: none;
        line-height: 39px;
    }

    .btn {
        padding: 20px 58px;
        margin: 0;
        letter-spacing: 2px;
        color: #8085b1;
        background: transparent;
    }

    .btn-primary {
        background-color: #1a88e1;
        color: white;
    }

    .btn:hover {
        background: transparent;
        box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    }

    .btn-primary:hover {
        box-shadow: inset 0px 0px 10px 0.3px rgba(255, 255, 255, 0.7);
        border: 2px solid rgba(255, 255, 255, 0.7);
    }

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}

.angels {
    text-align: center;
    position: relative;
    margin-top: 110px;
    padding: 80px 0 60px;

    h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -2.5px;
        line-height: 37px;
        color: white;

        span {
            font-size: 18px;
            letter-spacing: 3px;
            color: #85c8ff;
        }
    }

    .card-box {
        display: flex;
        justify-content: space-between;
    }

    .card {
        background: white;
        flex-basis: 33%;
        box-shadow: 0px 10px 20px -13px rgba(0, 0, 0, 0.15);
        padding-bottom: 35px;
        margin-top: 140px;

        img {
            width: 80%;
            transform: translateY(-85px);
            margin-bottom: -85px;
        }

        span {
            letter-spacing: 2.5px;
        }

        h2 {
            letter-spacing: -0.5px;
            color: $title-color;
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}

.btn-team {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: none;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
}

.btn-team:hover {
    background-color: #1a88e1;
    box-shadow: 0px 10px 20px -13px rgba(0, 0, 0, 1);
}

.btn-team span {
    background-image: url(../img/angels/icons.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 21px;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.btn-more span {
    background-position: 2px 2px;
}

.btn-team:hover span {
    background-position: 2px -29px;
}

.social-team {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    max-width: 80%;
}

.btn-fb span {
    background-position: -32px 2px;
    width: 16px;
}

.btn-fb:hover span {
    background-position: -32px -29px;
}

.btn-tw span {
    background-position: -61px 2px;
    width: 16px;
}

.btn-tw:hover span {
    background-position: -61px -29px;
}

.btn-be span {
    background-position: -90.5px 2px;
    width: 16px;
}

.btn-be:hover span {
    background-position: -90.5px -29px;
}

.btn-web span {
    background-position: -119px 2px;
    width: 16px;
}

.btn-web:hover span {
    background-position: -119px -29px;
}

.submit-page {
    position: relative;
    background: #edf6ff;
    padding: 70px 0 110px;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .img {
        display: block;
        margin: auto 4em auto 0;
        max-width: 45%;
        align-self: center;
        z-index: 1;
    }

    article {
        flex-basis: 50%;
    }

    h1 {
        margin-bottom: 37px;
        font-size: 50px;
        letter-spacing: -3px;
        color: $title-color;
    }

    input,
    textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 10px 0;
        padding: 23px 52px 23px 35px;
        font-size: 14px;
        background: white;
        color: #8995b3;
        outline: none;
        border: 2px solid #dce4ec;
        border-radius: 45px;
        overflow: hidden;
    }

    textarea {
        resize: none;
        height: 150px;
        border-radius: 30px;
    }

    .name,
    .email,
    .message {
        position: relative;
        box-sizing: border-box;
        width: 100%;

        svg {
            position: absolute;
            height: 15px;
            top: calc(50% - 6.5px);
            right: 7%;
        }
    }

    .message svg {
        top: 37px;
    }

    ::placeholder {
        color: #8995b3;
    }

    .btn {
        display: inline-block;
        margin-top: 20px;
        margin-left: 0;
        padding: 20px 45px;
        letter-spacing: 2px;

        svg {
            height: 10px;
            margin: 0 5px;
            fill: white;
        }
    }

    .telegram {
        height: 10px;
        margin: 0 5px;
    }

    .btn:hover svg {
        fill: $btn-primary-background;
        transition: $transition;
    }

    .bg {
        position: absolute;
        max-height: 90%;
        bottom: -5px;
        left: 0;
    }
}

.footer {
    background: #192b59;
    padding: 10px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 0;
        font-size: 16px;
        letter-spacing: -0.3px;
    }

    span {
        display: inline-block;
        font-size: 16px;
        letter-spacing: -0.3px;
        text-transform: none;
        transition: $transition;
    }

    span:hover {
        transition: $transition;
        color: $lite-text-color;
    }

    .icon-box {
        display: flex;
    }

    svg {
        max-width: 20px;
        height: 18px;
        transition: $transition;
    }

    a {
        margin: auto 9px;
    }

    svg:last-child {
        margin-right: 0;
    }
}

.nav-box {
    position: fixed;
    right: 0;
    bottom: 0;
    background: #edf6ff;
    border-left: 3px solid darken($color: #edf6ff, $amount: 15%);
    border-top: 3px solid darken($color: #edf6ff, $amount: 15%);
    border-top-left-radius: 15px;

    svg {
        margin: auto;
        height: 0.7em;
    }
}

.nav-on {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: 0;

    text-transform: uppercase;
    list-style-type: none;
    font-size: 12px;
    letter-spacing: 2.7px;
    font-weight: 700;
    text-align: center;

    li {
        margin: 15px;
    }

    .btn {
        display: block;
    }
}

#on {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    margin: 5px;
    line-height: 0;
}

.btn-nav {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: auto 0;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.btn-nav svg {
    height: 30px;
    transition: $transition;
}

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px 0;
    background: white;
    z-index: 2;
    opacity: 150;
}

@media screen and (max-width: 700px) {
    section {
        padding: 15px 0;
    }

    h1 {
        font-size: 10vw !important;
    }

    .header .container .title-page {
        margin: 5vh auto 15vh;

        .container {
            margin-top: 0;
        }

        h1 {
            margin-bottom: auto;
        }
    }

    .header {
        .container {
            justify-content: center;
            margin-top: 5vh;
        }

        .btn {
            display: block;
            margin: 15px auto;
        }
    }

    .sponsor-page {
        .container {
            justify-content: center;
        }

        a {
            margin: 30px;
        }
    }

    .features-page {
        .container {
            text-align: center;
            grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" !important;
            grid-template-columns: 1fr !important;
            gap: 1em;
            row-gap: 1em;

            .grid {
                margin: auto;
            }
        }
    }

    .scroll-page-item {
        width: 100%;
        max-width: 100% !important;
    }

    .scroll-page {
        .bg {
            max-height: 10% !important;
        }
    }

    .meet-page {
        padding: 65px 0 45px;

        .meet-page-item {
            width: 100% !important;
        }
    }

    .statistics-page {
        .statistics-page-item {
            padding: 30px 0 70px;
        }
    }

    .featutures-2-page {
        padding: 70px 0 100px;
    }

    .screen-preview {
        .img {
            margin: 0;
            padding: 70px 0 0;
            img {
                max-width: 100%;
            }
        }
    }

    .testimonials {
        background: $lite-text-color;

        h1 {
            color: $title-color;
            span {
                color: $span-color;
            }
        }
        .card-box {
            .card {
                margin: 15px 0;
                flex-basis: 100%;
            }
        }

        .bg {
            display: none;
        }
    }

    .our-plans {
        background-color: #edf6ff;
        .card-box {
            .card {
                margin: 15px auto;
                width: 100%;
                box-sizing: border-box;
                flex-basis: 100%;
            }
        }
    }

    .angels {
        font-weight: 800;
        margin: 0 !important;
        padding: 60px 0;

        h1 {
            color: $title-color;
            span {
                color: $span-color;
            }
        }

        .bg {
            display: none;
        }
    }
}

@media screen and (min-width: 1195px) {
    .header {
        .nav {
            display: flex;
        }
        .btn-nav,
        .nav-on {
            display: none;
        }
    }
}

@media screen and (max-width: 1195px) {
    body .container {
        width: 90%;
    }

    .header {
        width: 100%;
        padding-top: 2%;

        .nav {
            display: none;
        }

        .btn-nav,
        .nav-on {
            display: block;
        }

        .img {
            display: none;
        }

        .title-page {
            margin: 30vh auto 35vh;
            text-align: center;
        }
    }

    .features-page {
        .container {
            text-align: center;
            grid-template-areas: "a a" "b c" "d e" "f g" "h h";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1em;
            row-gap: 1em;

            .grid-title {
                height: 100px;
            }
        }
    }

    .subscribe-page {
        padding-top: 1.5em;

        .container {
            flex-direction: column;
            text-align: center;
        }
        .robot {
            order: -1;
            height: 30vh;
            margin: 0;
        }
    }

    .subscribe-page-item {
        input {
            padding: 26px 170px 26px 40px;
        }
        .btn {
            top: calc(50% - 20px);
            padding: 10px 20px;
        }
    }

    .scroll-page {
        .pc {
            display: none;
        }

        .bg {
            max-height: 20%;
            max-width: 20%;
        }

        .scroll-page-item {
            margin: 0 auto;
            max-width: 80%;
        }
    }

    .fun-facts-page {
        .circle {
            display: none;
        }
        h2 {
            margin: 15px;
        }
        .square {
            display: none;
        }
    }

    .meet-page {
        .container {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .intro-video {
            order: -1;
        }

        h4 {
            display: none;
        }

        .market-box {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;
            text-align: center;
        }

        .android {
            margin: 0;
        }

        a {
            height: 84.2px;
            width: 180px;
        }

        svg {
            margin: 0 auto;
        }

        img {
            max-height: 30vh;
            width: auto;
        }
    }

    .statistics-page-item > img {
        display: none;
    }
    .statistics-page-item {
        article {
            flex-basis: 100%;
            text-align: center;
        }
    }
    .statistics-page {
        .icon {
            margin: 0;
            margin-left: 0 !important;
        }

        .bg {
            max-width: 30%;
        }
    }

    .featutures-2-page {
        article {
            flex-basis: 100%;
            text-align: center;
        }

        .picture {
            display: none;
        }

        .bg {
            max-width: 20%;
        }
    }

    .testimonials {
        text-align: center;

        .card-box {
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            margin: 15px 30px;
            text-align: start;
        }
    }

    .social-team {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .btn-team {
            margin: 15px;
        }
    }

    .angels {
        .card-box {
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            flex-basis: auto;
        }
    }

    .submit-page {
        .img {
            display: none;
        }

        article {
            text-align: center;
            flex-basis: 100%;
        }

        .bg {
            max-height: 20%;
        }
    }
}

@media screen and (max-width: 1370px) {
    .our-plans {
        .card-box {
            flex-direction: column;
            justify-content: center;
        }

        .card {
            margin: 15px auto;
            height: 600px;
            width: 30%;
        }
    }

    .angels {
        margin-top: 50px;
    }

    .submit-page {
        .bg {
            height: 40%;
        }
    }
}

@media screen and (max-width: 1501px) {
    .container {
        width: 77%;
    }
}

@media screen and (max-width: 1650px) {
    .header .img {
        bottom: 20vh;

        img {
            max-height: none;
            max-width: 45vw;
        }
    }
}
