$text-color: #6e7ea9;
$lite-text-color: #fff;

$btn-color: #7e8bae;
$btn-primary-color: #fff;

$title-color: #192b59;
$span-color: #1085e4;

$btn-background: #cbdbe8;
$btn-primary-background: #1085e4;

$shadow: #f4f4f4;

$input-lite-border-color: #3d56ad;
$input-border-color: #dce4ec;

$placeholder-color: #b1c3ee;

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.1rem #7e8bae;
}
::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 0.5rem #7e8bae;
}
::-webkit-scrollbar-thumb {
    border-radius: 70px;
    background: #cbdbe8;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0.6rem #0f84f5;
}

body,
a {
    box-sizing: border-box;
    color: $text-color;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration-line: underline;
    outline: none;
}

input:focus {
    outline: none;
}

::placeholder {
    color: $placeholder-color;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.btn {
    margin: 0 8px;
    padding: 21px 37px;
    border-radius: 35px;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    color: $btn-color;
    background-color: $btn-background;
    border: 2px solid $btn-background;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    text-decoration: none !important;
}

.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-background;
    border-color: $btn-primary-background;
}

.btn:hover,
.btn:focus {
    background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus {
    color: $btn-primary-background;
}

.header {
    z-index: 1;
    background-image: url(../img/header/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 181px;
    height: 50px;
}

.nav {
    display: flex;
    margin-left: auto;
    justify-content: end;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    letter-spacing: 2.7px;
    font-weight: 700;
}

.nav > li {
    padding: 0 15px;
    margin: auto;
}

.nav .btn {
    margin-right: 0;
    letter-spacing: 1.3px;
    padding: 21px 50px;
}

.title-page {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin: 30vh 0 35vh;
    box-sizing: border-box;
    
    h1 {
        font-size: 80px;
        color: $title-color;
        font-weight: 600;
        letter-spacing: -4px;
        line-height: 88px;
        margin-bottom: 60px;
    }

    .btn-primary {
        margin-left: 0;
        box-sizing: border-box;
    }

}

.title-page-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-page-item > div {
    display: flex;
}

.header .img { 
    position: absolute;
    background-repeat: no-repeat;
    
    top: 180px;
    right: 0;
    z-index: -1;

    img {      
        max-width: 45vw;
        background-repeat: no-repeat;
    }
}

.sponsor-page {
    background-image: url(../img/sponsor/bg.png);
    width: 100%;
    height: 274px;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    a {
        margin: auto 0;
    }
}

.features-page .container {
    display: grid;
    grid-template-areas: "a c d" "b c d" "b e f" "g e f" "g h h";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4em;
    row-gap: 1em;
    margin: 90px auto 30px;

    svg {
        display: block;
        margin: 62px auto 30px 40%;
    }

    h1 {
        font-size: 40px;
        letter-spacing: -2px;
    }

    h2 {
        margin-top: 20px;
        font-size: 20px;
        letter-spacing: -1px;
        color: $title-color;
    }

    p {
        line-height: 25px;
    }

    a {
        color: #1085e4;
        font-size: 14px;
        margin: 19px auto 30px;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 0;
        white-space: nowrap;

        p {
            display: inline;
            color: #1085e4;
            font-size: 14px;
            margin: 19px auto 30px;
        }
    }
}

span {
    display: block;
    color: $span-color;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.grid {
    max-width: 350px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px $shadow;
    text-align: center;

    a {
        display: block;
    }
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
    svg {
        margin-left: 100px !important;
    }
}

.grid-footer {
    grid-area: h;
}

.subscribe-page {
    background: rgb(10, 32, 144);
    background: linear-gradient(90deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);

    .container {
        display: flex;
        justify-content: space-between;
    }
}
.subscribe-page-item {
    margin: 90px 0 30px;
    flex-basis: 45%;
    color: $lite-text-color;

    h1 {
        font-size: 50px;
        letter-spacing: -3.1px;
        margin-bottom: 30px;
    }

    span {
        letter-spacing: 2.3px;
        margin-bottom: 20px;
    }

    p {
        line-height: 23px;
    }

    form {
        position: relative;
        box-sizing: border-box;
    }

    .btn {
        position: absolute;
        right: 1%;
        top: calc(50% - 23px);
        padding: 13px 40px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .btn-primary:hover {
        color: $btn-primary-color;
    }

    input {
        padding: 26px 220px 26px 40px;
        margin: 15px 0;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #3d56ad;
        color: $placeholder-color;
        border-radius: 50px;
        font-size: 14px;
        letter-spacing: -0.5px;
    }
}

.robot {
    max-width: 354px;
    max-height: 417px;
    margin: 55px 0 50px;
}

.scroll-page {
    position: relative;
    margin-top: 1rem;

    .scroll-page-item {
        margin-left: 45%;
        padding: 85px 0 85px;

        img {
            display: block;
            margin-left: -25px;
        }
    }

    h1 {
        margin-top: 7px;
        font-size: 50px;
        letter-spacing: -3.4px;
        line-height: 59px;
    }

    p {
        letter-spacing: -0.3px;
        line-height: 25px;
    }

    dl {
        margin-top: 30px;
        height: 340px;
        overflow: hidden;
        overflow-y: scroll;
    }

    dt {
        font-weight: 700;
        letter-spacing: -0.4px;
    }

    dd {
        margin: 15px 0 55px;
        font-size: 14px;
        letter-spacing: -0.5px;
        line-height: 22px;
    }

    ::-webkit-scrollbar {
        width: 0.3em;
    }
    ::-webkit-scrollbar-track {
        border-radius: 30px;
    }
    ::-webkit-scrollbar-track:hover {
        box-shadow: inset 0 0 0.2rem #7e8bae;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 30px;
    }
    ::-webkit-scrollbar-thumb:hover {
        box-shadow: inset 0 0 0.6rem #0f84f5;
    }

    .bg img {
        position: absolute;
    }

    .bg {
        height: 100%;
        top: 0;
        z-index: -5;
        max-width: 47%;
    }

    .pc {
        margin: auto 0;
        z-index: -1;
        top: 20%;
        max-height: 65%;
    }
}

.fun-facts-page {
    position: relative;
    background-color: #edf6ff;
    padding: 100px 0 50px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: +3;
    }

    h1 {
        margin: 0px 0 0px;
        color: $title-color;
        font-size: 50px;
        letter-spacing: -3.5px;

        span {
            font-size: 16px;
        }
    }

    h2 {
        font-size: 60px;
        letter-spacing: -2px;
        color: #bacbdc;

        span {
            font-size: 12px;
            letter-spacing: 2px;
            margin-top: 5px;
        }
    }

    svg {
        z-index: 1;
        position: absolute;
    }
}

.facts-block {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.square {
    right: 0;
    top: -250px;
    width: 551px;
    height: 772px;
}

.circle {
    margin-left: -100px;
    left: 0;
    top: 100px;
}

.meet-page {
    display: flex;
    padding: 75px 0 40px;
    width: 100%;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
    }
    .meet-page-item {
        width: 55%;
    }

    h1 {
        font-size: 50px;
        color: $title-color;
        letter-spacing: -3.5px;
    }

    p {
        letter-spacing: -0.5px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    span {
        color: #c4d2dd;
    }

    h4 {
        margin: 0 auto;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: calc(50% - 350px);
        font-size: 300px;
        z-index: -1;
        color: rgba(#000000, 0.028);
        font-weight: 1000;
    }
}

.android {
    margin-left: -15px;
}


.intro-video {
    margin-right: -140px;
    margin-top: -30px;
}
