$text-color: #6e7ea9;
$lite-text-color: #fff;

$btn-color: #7e8bae;
$btn-primary-color: #fff;

$title-color: #192b59;
$span-color: #1085e4;

$btn-background: #cbdbe8;
$btn-primary-background: #1085e4;

$input-lite-border-color: #3d56ad;
$input-border-color: #dce4ec;

$placeholder-color: #b1c3ee;

$transition: 0.3s;